@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .loader {
    border-top-color:#B30205;
    animation: spin 1s linear infinite;
  }

  .cap1stL {
    @apply first-letter:capitalize;
  }
  input::placeholder,
textarea::placeholder {
  @apply text-gray-600; 
}

select {
  @apply text-gray-600; 
}
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
